:root {
  --method-head-color: blue;
}

body {
  font: normal 12px/17px Verdana, Arial, sans-serif;
  overflow: hidden;
}

.container {
  position: absolute;
  inset: 0;
  top: 1.5rem;
  overflow-y: auto;
  scroll-behavior: smooth;

  #navigation, .docs {
    scrollbar-width: none; /* Firefox */
  }

  .docs {
    margin: 0 auto;
    max-width: 60%;
    padding-left: 10rem;

    .docBrowser {
      position: relative;
      width: 70%;
      margin: -1.5em 0 0 10.5rem;

      .spacer {
        position: relative;
        height: 100vh;
        visibility: hidden;
      }
    }

    #navigation {
      position: fixed;
      overflow-y: auto;
      top: 3rem;
      bottom: 0;
      display: block;
      width: 10rem;
    }
  }
}

#navigation::-webkit-scrollbar, .docs::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

pre.codeblock code {
  border-radius: 5px;
  box-shadow: 2px 2px 6px #999;
  max-height: 50vh;
  overflow: auto;
}

code:not([class*='language-']) b.comment {
  color: #999;
}

.param {
  margin-bottom: 0.3rem;
}

.navGroup {
  cursor: pointer;
  margin-left: -1.2rem;
  margin-block-start: 0.5em;
  margin-right: 1em;
}

ul.navGroup.closed li.grouped {
  list-style: '\25BC';
}

ul.navGroup li.grouped {
  padding-left: 0.2rem;
  list-style: '\25b2';
  color: brown;
}

ul.navGroup.closed li ul.navGroupItems {
  display: none;
}

ul.navGroup li:not(.grouped) {
  list-style: none;
  margin-left: -2.5rem;
}

.jqxTitle {
  color: green;
}

.jqxTitle b {
  color: red;
}

.selected {
  color: blue;
  font-weight: bolder;
}

ul.navGroupItems li {
  color: #777;
}

[data-key] {
  color: #777;
}

h3[data-for-id], [data-group-id] {
  scroll-margin-top: 1.5rem !important;
}

[data-key]:hover {
  background-color: #eee;
}

[data-groupcontainer] {
  padding: 1.5rem 1rem 1rem;
  box-shadow: 2px 2px 6px #999;
  border-radius: 5px;
  /*max-width: 96%;*/
  margin-top: 3rem;
}

.linkLike {
  margin: 0;
  color: blue;
  display: inline-block;
  cursor: pointer;

  code.inline {
    color: blue;
    cursor: pointer;
    display: inline-block;
    margin: 1px 0;
  }

  &:hover, .inline:hover {
    text-decoration: underline;
  }
}

.methodName {
  margin: 1.5rem 0 0.5rem 0;
  color: var(--method-head-color);
  font-size: 1.2rem;
  font-family: "Courier New", serif;
  cursor: pointer;
  background-color: #eee;
  padding: 3px;
  border: 1px solid #999;
  text-align: center;
}

.deprecated {
  color: #AAA;
}

[data-navitem].deprecated {
  color: rgba(191, 20, 20, 0.6);
}

.methodName span.group {
  color: #777;
}

.exRunBttn[disabled] {
  background-color: buttonface;
  border-width: 1px;
}

.groupHeader {
  min-width: 100px;
  max-width: 200px;
  text-align: center;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  background-color: #eee;
  margin: 0 auto -3rem auto;
  position: relative;
  top: -3rem;
}

.groupHeader:first-child {
  margin-top: 1em;
}

.groupHeader:not(:first-child) {
  margin-top: 2rem;
}

details {
  cursor: pointer;
  summary {
    &:hover  {
      text-decoration: underline;
      code {
        text-decoration: underline;
      }
    }
  }
}

.returnValue, .description:not([data-groupcontainer]) {
  margin-top: 0.6rem;
}

.description {
  line-height: 1.5em;
  h2, h3:not(.groupHeader) {
    margin: 0.6em 0 0 0;
  }
}

.description div:not(.linkLike):not(.exContainer) {
  margin: 0.6em 0 0.4em 0;
}

.description .template {
  display: none;
}

.description ul {
  margin: 0 0 auto -1.2rem;
}

.description ul ul {
  margin: 0 0 auto -1.2rem;
}

.description ul ul li {
  list-style: '\2714';
  margin-left: -0.7rem;
  vertical-align: top;
}

.description ul li {
  list-style: '\2705';
  vertical-align: top;
  padding: 1px 0 1px 0.2em;
  margin-top: 0.3em;
  line-height: 1.2rem;
}

.description ul li div:not(.linkLike) {
  margin-top: 0.3rem !important;
  margin-bottom: 0.2rem !important;
}

.example {
  margin-left: 0.5rem;
  margin-bottom: -0.2rem;
  display: inline-block;
}

.example ~ div {
  font-weight: normal;
}

[data-groupcontainer] .description div.exContainer,
.paragraph .description div.exContainer {
  white-space: revert;
}

.exRunBttn {
  margin-left: 0.5em;
}

code:not([class*='language-']) {
  background-color: rgb(227, 230, 232);
  color: rgb(12, 13, 14);
  padding: 0 4px;
  display: inline-block;
  border-radius: 4px;
  margin: 1px 0;

  b {
    color: red;
  }
}

.loading {
  position: absolute;
}

.red, .note b {
  color: red;
}

.inlineExampleHeader {
  color: #999;
  font-size: 1rem;
  border-bottom: 1px solid #AAA;
  padding: 0.2em;
  font-size: 1em;
  text-align: center;
  border-top: 1px solid #aaa;

  span {
    &[data-n]:before {
      content: attr(data-n) ' ';
      color: red;
    }
  }

  button {
    margin: 0 5px -2px 5px;
    color: #555;
    display: inline-block;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 3px;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
}

a[target]:before {
  color: rgba(0, 0, 238, 0.7);
  font-size: 1.1rem;
  padding-right: 2px;
  vertical-align: baseline;
}

a[target="_top"]:before {
  content: "↺";
}

a[target="_blank"]:before {
  content: "↗";
}

img.gitLink {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  vertical-align: middle;
}

@media (max-width: 2200px) {
  .docs {
    max-width: 65vw;
    left: 10vw;
  }
}

@media (max-width: 1440px) {
  .container {
    .docs {
      max-width: 85vw;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    .docs {
      max-width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .container {
    .docs {
      max-width: 95vw;
    }
  }
}

.spin {
  text-align: center;
  position: absolute;
  font-weight: bold;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  animation: spinner 3s linear infinite;
}

@keyframes spinner  {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
